body {
    /*background: red;*/
}
.main {
    background-image: url('http://wallpapercave.com/wp/Hy2K8PS.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    height: 400px;
    flex-direction: row;
}
.header-main {
    flex: 1;
    align-items: center;
    justify-content: center;
    background: skyblue;
    display: flex;
    flex-direction: column;
    transform: skewY(-2deg);

}
.header:before {
    content: '';
    background: skyblue;
    height: 40px;
    width: 100%;
    z-index: 1;
    /*transform:skewY(2deg);*/
    position: absolute;
    left: 0;
    right: 0;
}
.my-form {
    width: 50%;
    transform: skewY(2deg);
}
.form-group {
    display: flex;
}
.form-control {
    flex: 1;
    margin-left: 20px;
}
.col-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.first, .second, .third {
    padding: 20px;
    flex-basis: 30%;
    background: white;
}
.section-one {
    padding: 20px;
    margin-top: 40px;
    background: #ecf0f1;
    transform: skewY(-2deg);
}
.detail {
    transform: skewY(2deg);
    padding: 20px;

}
@media(max-width:700px) {
    .col-container {
        display: block;
        margin-top: 0;
    }
}
